<html>
<head></head>
<body>
	<wicket:panel>
		<table class="side-nav-table">
			<tr wicket:id="showModal">
				<td><i class="fa fa-plus-circle" aria-hidden="true"></i></td>
				<td>Create Contact</td>
			</tr>
			<!-- 	<tr>
				<td><i class="fa fa-user" aria-hidden="true"></i></td>
				<td>Contacts</td>
			</tr> -->
			<tr wicket:id="upload">
				<td><i class="fa fa-upload" aria-hidden="true"></i></td>
				<td>Import</td>
			</tr>
			<tr wicket:id="download">
				<td><i class="fa fa-download" aria-hidden="true"></i></td>
				<td>Export</td>
			</tr>
		</table>
		<div wicket:id="addDialog">[addDialog]</div>
		<div wicket:id="uploadDialog">[uploadDialog]</div>
	</wicket:panel>
</body>
</html>