<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<body>
	<wicket:panel>
		<form wicket:id="form">
			<div id="dialog-div">
				<table id="dialog-table">
					<tr>
						<td>First Name :</td>
						<td><input wicket:id="firstName" type="text"
							class="form-control" placeholder="First Name"
							style="width: 100%;" /></td>
					</tr>
					<tr>
						<td>Last Name :</td>
						<td><input wicket:id="lastName" type="text"
							class="form-control" placeholder="Last Name" style="width: 100%;" /></td>
					</tr>
					<tr>
						<td>Date Of Birth:</td>
						<td><input type="text" wicket:id="dateOfBirth"
							class="form-control" placeholder="Date Of Birth"
							style="width: 100%;" /></td>
					</tr>
					<tr>
						<td>Home Phone :</td>
						<td><input wicket:id="homePhone" type="text"
							class="form-control" placeholder="Home Phone"
							style="width: 100%;" /></td>
					</tr>
					<tr>
						<td>Cell Phone :</td>
						<td><input wicket:id="cellPhone" type="text"
							class="form-control" placeholder="Cell Phone"
							style="width: 100%;" /></td>
					</tr>
					<tr>
						<td>Email:</td>
						<td><input wicket:id="email" type="email"
							class="form-control" placeholder="Email" style="width: 100%;" /></td>
					</tr>
					<tr>
						<td>Mailing Address:</td>
						<td></td>
					</tr>
					<tr>
						<td>Street Address :</td>
						<td><input wicket:id="mailingAddress.streetAddress"
							class="form-control" placeholder="Street Address" type="text"
							style="width: 100%;" /></td>
					</tr>
					<tr>
						<td>City :</td>
						<td><input wicket:id="mailingAddress.city" type="text"
							class="form-control" placeholder="City" style="width: 100%;" /></td>
					</tr>
					<tr>
						<td>State :</td>
						<td><input wicket:id="mailingAddress.state" type="text"
							class="form-control" placeholder="State" style="width: 100%;" /></td>
					</tr>
					<tr>
						<td>Country :</td>
						<td><input wicket:id="mailingAddress.country" type="text"
							class="form-control" placeholder="Country" style="width: 100%;" /></td>
					</tr>
					<tr>
						<td>Zip Code :</td>
						<td><input wicket:id="mailingAddress.zipCode" type="text"
							class="form-control" placeholder="Zip Code" style="width: 100%;" /></td>
					</tr>
					<tr>
						<td>Permanent Address:</td>
						<td></td>
					</tr>
					<tr>
						<td>Street Address :</td>
						<td><input wicket:id="permanentAddress.streetAddress"
							class="form-control" placeholder="Street Address" type="text"
							style="width: 100%;" /></td>
					</tr>
					<tr>
						<td>City :</td>
						<td><input wicket:id="permanentAddress.city" type="text"
							class="form-control" placeholder="City" style="width: 100%;" /></td>
					</tr>
					<tr>
						<td>State :</td>
						<td><input wicket:id="permanentAddress.state" type="text"
							class="form-control" placeholder="State" style="width: 100%;" /></td>
					</tr>
					<tr>
						<td>Country :</td>
						<td><input wicket:id="permanentAddress.country" type="text"
							class="form-control" placeholder="Country" style="width: 100%;" /></td>
					</tr>
					<tr>
						<td>Zip Code :</td>
						<td><input wicket:id="permanentAddress.zipCode" type="text"
							class="form-control" placeholder="Zip Code" style="width: 100%;" /></td>
					</tr>
				</table>
			</div>

			<div wicket:id="feedback"></div>
		</form>
	</wicket:panel>
</body>
</html>